--
-- PostgreSQL database dump
--

\restrict fL1g46bDIL9hmKZ5qvdb51RCz5gsgtseD4CZsVnhRASX4JHqXQrFm9FhgXPE8lg

-- Dumped from database version 17.11
-- Dumped by pg_dump version 17.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ActivityLog; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."ActivityLog" (
    id text NOT NULL,
    "userId" text,
    action text NOT NULL,
    entity text,
    "entityId" text,
    details text,
    "ipAddress" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ActivityLog" OWNER TO stone;

--
-- Name: AnalyticsEvent; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."AnalyticsEvent" (
    id text NOT NULL,
    "eventType" text NOT NULL,
    "entityType" text,
    "entityId" text,
    "sessionId" text,
    "userId" text,
    "ipAddress" text,
    "userAgent" text,
    referrer text,
    country text,
    city text,
    metadata text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AnalyticsEvent" OWNER TO stone;

--
-- Name: BackupRecord; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."BackupRecord" (
    id text NOT NULL,
    "storageKey" text NOT NULL,
    size integer NOT NULL,
    checksum text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status text DEFAULT 'COMPLETED'::text NOT NULL,
    error text
);


ALTER TABLE public."BackupRecord" OWNER TO stone;

--
-- Name: Category; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."Category" (
    id text NOT NULL,
    name text NOT NULL,
    "nameEn" text,
    "nameAr" text,
    "nameRu" text,
    "nameTr" text,
    slug text NOT NULL,
    description text,
    "descriptionEn" text,
    "parentId" text,
    image text,
    "imageMediaAssetId" text,
    icon text,
    "order" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Category" OWNER TO stone;

--
-- Name: Content; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."Content" (
    id text NOT NULL,
    section text NOT NULL,
    key text NOT NULL,
    type text DEFAULT 'TEXT'::text NOT NULL,
    value text DEFAULT ''::text NOT NULL,
    label text NOT NULL,
    description text,
    "order" integer DEFAULT 0 NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Content" OWNER TO stone;

--
-- Name: Customer; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."Customer" (
    id text NOT NULL,
    name text NOT NULL,
    "companyName" text,
    email text,
    phone text NOT NULL,
    country text,
    city text,
    address text,
    "customerType" text DEFAULT 'RETAIL'::text NOT NULL,
    status text DEFAULT 'NEW'::text NOT NULL,
    source text,
    "assigneeId" text,
    notes text,
    tags text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Customer" OWNER TO stone;

--
-- Name: CustomerInteraction; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."CustomerInteraction" (
    id text NOT NULL,
    "customerId" text NOT NULL,
    type text NOT NULL,
    subject text NOT NULL,
    content text,
    outcome text,
    "followUpAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CustomerInteraction" OWNER TO stone;

--
-- Name: EmailVerification; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."EmailVerification" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "tokenHash" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "usedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."EmailVerification" OWNER TO stone;

--
-- Name: ErpConnection; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."ErpConnection" (
    id text NOT NULL,
    name text NOT NULL,
    "baseUrl" text NOT NULL,
    "authType" text DEFAULT 'BEARER'::text NOT NULL,
    "secretRef" text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "lastSyncAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ErpConnection" OWNER TO stone;

--
-- Name: ErpLog; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."ErpLog" (
    id text NOT NULL,
    "syncType" text NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "recordType" text,
    "recordId" text,
    "erpRefCode" text,
    payload text,
    response text,
    "errorMessage" text,
    "syncedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ErpLog" OWNER TO stone;

--
-- Name: Exhibition; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."Exhibition" (
    id text NOT NULL,
    name text NOT NULL,
    location text,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Exhibition" OWNER TO stone;

--
-- Name: Inquiry; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."Inquiry" (
    id text NOT NULL,
    "customerId" text,
    "customerName" text NOT NULL,
    "customerPhone" text NOT NULL,
    "customerEmail" text,
    "customerCountry" text,
    "customerCity" text,
    "stoneId" text,
    "inquiryType" text DEFAULT 'PRICE_INQUIRY'::text NOT NULL,
    message text,
    "requiredSqm" double precision,
    "requiredSlabs" integer,
    budget double precision,
    currency text,
    attachments jsonb,
    status text DEFAULT 'NEW'::text NOT NULL,
    priority text DEFAULT 'MEDIUM'::text NOT NULL,
    "assigneeId" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Inquiry" OWNER TO stone;

--
-- Name: Inventory; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."Inventory" (
    id text NOT NULL,
    "stoneId" text NOT NULL,
    "warehouseId" text NOT NULL,
    "slabCount" integer DEFAULT 0 NOT NULL,
    "totalSqm" double precision DEFAULT 0 NOT NULL,
    "reservedSqm" double precision DEFAULT 0 NOT NULL,
    "availableSqm" double precision DEFAULT 0 NOT NULL,
    "inProductionSqm" double precision DEFAULT 0 NOT NULL,
    "blockCount" integer DEFAULT 0 NOT NULL,
    location text,
    "lastUpdated" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Inventory" OWNER TO stone;

--
-- Name: Job; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."Job" (
    id text NOT NULL,
    type text NOT NULL,
    payload text NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    attempts integer DEFAULT 0 NOT NULL,
    "availableAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "lockedAt" timestamp(3) without time zone,
    "completedAt" timestamp(3) without time zone,
    error text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Job" OWNER TO stone;

--
-- Name: MediaAsset; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."MediaAsset" (
    id text NOT NULL,
    "storageKey" text NOT NULL,
    url text NOT NULL,
    "originalName" text NOT NULL,
    "mimeType" text NOT NULL,
    size integer NOT NULL,
    width integer,
    height integer,
    "altText" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."MediaAsset" OWNER TO stone;

--
-- Name: Notification; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."Notification" (
    id text NOT NULL,
    type text NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    "recipientId" text,
    "isRead" boolean DEFAULT false NOT NULL,
    data text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Notification" OWNER TO stone;

--
-- Name: NotificationDelivery; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."NotificationDelivery" (
    id text NOT NULL,
    "notificationId" text NOT NULL,
    channel text NOT NULL,
    target text NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "providerRef" text,
    "errorMessage" text,
    "sentAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."NotificationDelivery" OWNER TO stone;

--
-- Name: Order; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."Order" (
    id text NOT NULL,
    "orderNumber" text NOT NULL,
    "customerId" text NOT NULL,
    "inquiryId" text,
    "assigneeId" text,
    "totalAmount" double precision NOT NULL,
    currency text DEFAULT 'IRR'::text NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "paymentStatus" text DEFAULT 'UNPAID'::text NOT NULL,
    "paymentMethod" text,
    "shippingAddress" text,
    "shippingCost" double precision,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Order" OWNER TO stone;

--
-- Name: OrderItem; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."OrderItem" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "stoneId" text NOT NULL,
    quantity double precision NOT NULL,
    unit text DEFAULT 'SQM'::text NOT NULL,
    "unitPrice" double precision NOT NULL,
    currency text DEFAULT 'IRR'::text NOT NULL,
    discount double precision DEFAULT 0 NOT NULL,
    total double precision NOT NULL,
    notes text
);


ALTER TABLE public."OrderItem" OWNER TO stone;

--
-- Name: OtpChallenge; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."OtpChallenge" (
    id text NOT NULL,
    target text NOT NULL,
    channel text NOT NULL,
    "codeHash" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    attempts integer DEFAULT 0 NOT NULL,
    "consumedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."OtpChallenge" OWNER TO stone;

--
-- Name: PasswordResetToken; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."PasswordResetToken" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "tokenHash" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "usedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PasswordResetToken" OWNER TO stone;

--
-- Name: Payment; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."Payment" (
    id text NOT NULL,
    "orderId" text NOT NULL,
    amount double precision NOT NULL,
    currency text DEFAULT 'IRR'::text NOT NULL,
    gateway text NOT NULL,
    "gatewayRefId" text,
    "gatewayTrackId" text,
    status text DEFAULT 'PENDING'::text NOT NULL,
    "cardNumber" text,
    "paidAt" timestamp(3) without time zone,
    "failureReason" text,
    "callbackData" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Payment" OWNER TO stone;

--
-- Name: Permission; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."Permission" (
    id text NOT NULL,
    key text NOT NULL,
    label text NOT NULL,
    description text
);


ALTER TABLE public."Permission" OWNER TO stone;

--
-- Name: Quotation; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."Quotation" (
    id text NOT NULL,
    "quotationNo" text NOT NULL,
    "customerId" text NOT NULL,
    "dealId" text,
    status text DEFAULT 'DRAFT'::text NOT NULL,
    currency text DEFAULT 'IRR'::text NOT NULL,
    subtotal double precision DEFAULT 0 NOT NULL,
    discount double precision DEFAULT 0 NOT NULL,
    total double precision DEFAULT 0 NOT NULL,
    "validUntil" timestamp(3) without time zone,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Quotation" OWNER TO stone;

--
-- Name: QuotationItem; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."QuotationItem" (
    id text NOT NULL,
    "quotationId" text NOT NULL,
    "stoneId" text NOT NULL,
    description text,
    quantity double precision NOT NULL,
    unit text DEFAULT 'SQM'::text NOT NULL,
    "unitPrice" double precision NOT NULL,
    discount double precision DEFAULT 0 NOT NULL,
    total double precision NOT NULL
);


ALTER TABLE public."QuotationItem" OWNER TO stone;

--
-- Name: Recommendation; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."Recommendation" (
    id text NOT NULL,
    "stoneId" text NOT NULL,
    "recommendedStoneId" text NOT NULL,
    score double precision NOT NULL,
    reason text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Recommendation" OWNER TO stone;

--
-- Name: RolePermission; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."RolePermission" (
    id text NOT NULL,
    role text NOT NULL,
    "permissionId" text NOT NULL
);


ALTER TABLE public."RolePermission" OWNER TO stone;

--
-- Name: SalesDeal; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."SalesDeal" (
    id text NOT NULL,
    "customerId" text NOT NULL,
    title text NOT NULL,
    value double precision,
    currency text,
    "stageId" text NOT NULL,
    "ownerId" text,
    "expectedAt" timestamp(3) without time zone,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SalesDeal" OWNER TO stone;

--
-- Name: SalesStage; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."SalesStage" (
    id text NOT NULL,
    name text NOT NULL,
    color text,
    "order" integer DEFAULT 0 NOT NULL,
    "isWon" boolean DEFAULT false NOT NULL,
    "isLost" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SalesStage" OWNER TO stone;

--
-- Name: Session; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."Session" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "tokenHash" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "revokedAt" timestamp(3) without time zone,
    "userAgent" text,
    "ipAddress" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Session" OWNER TO stone;

--
-- Name: Setting; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."Setting" (
    id text NOT NULL,
    key text NOT NULL,
    value text NOT NULL,
    category text DEFAULT 'GENERAL'::text NOT NULL,
    type text DEFAULT 'TEXT'::text NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Setting" OWNER TO stone;

--
-- Name: Stone; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."Stone" (
    id text NOT NULL,
    name text NOT NULL,
    "nameEn" text,
    "nameAr" text,
    "nameRu" text,
    "nameTr" text,
    code text NOT NULL,
    "categoryId" text NOT NULL,
    quarry text,
    "quarryEn" text,
    country text,
    color text,
    "colorSecondary" text,
    pattern text,
    "processingType" text,
    "surfaceFinish" text,
    thickness text,
    width text,
    length text,
    weight text,
    "waterAbsorption" text,
    "compressiveStrength" text,
    "abrasionResistance" text,
    density text,
    application text,
    "suitableFor" text,
    "exportCountries" text,
    features text,
    description text,
    "descriptionEn" text,
    tags text,
    slug text,
    "isFeatured" boolean DEFAULT false NOT NULL,
    "isNewest" boolean DEFAULT false NOT NULL,
    "isBestSeller" boolean DEFAULT false NOT NULL,
    "isExportGrade" boolean DEFAULT false NOT NULL,
    status text DEFAULT 'AVAILABLE'::text NOT NULL,
    "viewCount" integer DEFAULT 0 NOT NULL,
    "likeCount" integer DEFAULT 0 NOT NULL,
    rating double precision DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Stone" OWNER TO stone;

--
-- Name: StoneAuditLog; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."StoneAuditLog" (
    id text NOT NULL,
    "stoneId" text NOT NULL,
    action text NOT NULL,
    "oldValue" text,
    "newValue" text,
    "userId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."StoneAuditLog" OWNER TO stone;

--
-- Name: StoneImage; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."StoneImage" (
    id text NOT NULL,
    "stoneId" text NOT NULL,
    url text NOT NULL,
    thumbnail text,
    alt text,
    type text DEFAULT 'GALLERY'::text NOT NULL,
    "isPrimary" boolean DEFAULT false NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    "mediaAssetId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."StoneImage" OWNER TO stone;

--
-- Name: StonePrice; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."StonePrice" (
    id text NOT NULL,
    "stoneId" text NOT NULL,
    type text NOT NULL,
    amount double precision NOT NULL,
    currency text DEFAULT 'IRR'::text NOT NULL,
    "minQuantity" double precision,
    discount double precision DEFAULT 0 NOT NULL,
    "validFrom" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "validUntil" timestamp(3) without time zone,
    notes text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."StonePrice" OWNER TO stone;

--
-- Name: StoneVideo; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."StoneVideo" (
    id text NOT NULL,
    "stoneId" text NOT NULL,
    url text NOT NULL,
    type text DEFAULT 'YOUTUBE'::text NOT NULL,
    title text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."StoneVideo" OWNER TO stone;

--
-- Name: User; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    name text NOT NULL,
    phone text,
    role text DEFAULT 'OPERATOR'::text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "lastLoginAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO stone;

--
-- Name: Warehouse; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."Warehouse" (
    id text NOT NULL,
    name text NOT NULL,
    code text NOT NULL,
    location text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Warehouse" OWNER TO stone;

--
-- Name: Webhook; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public."Webhook" (
    id text NOT NULL,
    name text NOT NULL,
    url text NOT NULL,
    secret text NOT NULL,
    events text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Webhook" OWNER TO stone;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: stone
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO stone;

--
-- Data for Name: ActivityLog; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."ActivityLog" (id, "userId", action, entity, "entityId", details, "ipAddress", "userAgent", "createdAt") FROM stdin;
\.


--
-- Data for Name: AnalyticsEvent; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."AnalyticsEvent" (id, "eventType", "entityType", "entityId", "sessionId", "userId", "ipAddress", "userAgent", referrer, country, city, metadata, "createdAt") FROM stdin;
\.


--
-- Data for Name: BackupRecord; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."BackupRecord" (id, "storageKey", size, checksum, "createdAt", status, error) FROM stdin;
\.


--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."Category" (id, name, "nameEn", "nameAr", "nameRu", "nameTr", slug, description, "descriptionEn", "parentId", image, "imageMediaAssetId", icon, "order", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Content; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."Content" (id, section, key, type, value, label, description, "order", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Customer; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."Customer" (id, name, "companyName", email, phone, country, city, address, "customerType", status, source, "assigneeId", notes, tags, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: CustomerInteraction; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."CustomerInteraction" (id, "customerId", type, subject, content, outcome, "followUpAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: EmailVerification; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."EmailVerification" (id, "userId", "tokenHash", "expiresAt", "usedAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: ErpConnection; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."ErpConnection" (id, name, "baseUrl", "authType", "secretRef", "isActive", "lastSyncAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ErpLog; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."ErpLog" (id, "syncType", status, "recordType", "recordId", "erpRefCode", payload, response, "errorMessage", "syncedAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: Exhibition; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."Exhibition" (id, name, location, "startDate", "endDate", description, "isActive", "createdAt") FROM stdin;
\.


--
-- Data for Name: Inquiry; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."Inquiry" (id, "customerId", "customerName", "customerPhone", "customerEmail", "customerCountry", "customerCity", "stoneId", "inquiryType", message, "requiredSqm", "requiredSlabs", budget, currency, attachments, status, priority, "assigneeId", notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Inventory; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."Inventory" (id, "stoneId", "warehouseId", "slabCount", "totalSqm", "reservedSqm", "availableSqm", "inProductionSqm", "blockCount", location, "lastUpdated", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Job; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."Job" (id, type, payload, status, attempts, "availableAt", "lockedAt", "completedAt", error, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: MediaAsset; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."MediaAsset" (id, "storageKey", url, "originalName", "mimeType", size, width, height, "altText", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."Notification" (id, type, title, message, "recipientId", "isRead", data, "createdAt") FROM stdin;
\.


--
-- Data for Name: NotificationDelivery; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."NotificationDelivery" (id, "notificationId", channel, target, status, "providerRef", "errorMessage", "sentAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: Order; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."Order" (id, "orderNumber", "customerId", "inquiryId", "assigneeId", "totalAmount", currency, status, "paymentStatus", "paymentMethod", "shippingAddress", "shippingCost", notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: OrderItem; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."OrderItem" (id, "orderId", "stoneId", quantity, unit, "unitPrice", currency, discount, total, notes) FROM stdin;
\.


--
-- Data for Name: OtpChallenge; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."OtpChallenge" (id, target, channel, "codeHash", "expiresAt", attempts, "consumedAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: PasswordResetToken; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."PasswordResetToken" (id, "userId", "tokenHash", "expiresAt", "usedAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."Payment" (id, "orderId", amount, currency, gateway, "gatewayRefId", "gatewayTrackId", status, "cardNumber", "paidAt", "failureReason", "callbackData", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Permission; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."Permission" (id, key, label, description) FROM stdin;
\.


--
-- Data for Name: Quotation; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."Quotation" (id, "quotationNo", "customerId", "dealId", status, currency, subtotal, discount, total, "validUntil", notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: QuotationItem; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."QuotationItem" (id, "quotationId", "stoneId", description, quantity, unit, "unitPrice", discount, total) FROM stdin;
\.


--
-- Data for Name: Recommendation; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."Recommendation" (id, "stoneId", "recommendedStoneId", score, reason, "createdAt") FROM stdin;
\.


--
-- Data for Name: RolePermission; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."RolePermission" (id, role, "permissionId") FROM stdin;
\.


--
-- Data for Name: SalesDeal; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."SalesDeal" (id, "customerId", title, value, currency, "stageId", "ownerId", "expectedAt", notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: SalesStage; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."SalesStage" (id, name, color, "order", "isWon", "isLost", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."Session" (id, "userId", "tokenHash", "expiresAt", "revokedAt", "userAgent", "ipAddress", "createdAt") FROM stdin;
\.


--
-- Data for Name: Setting; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."Setting" (id, key, value, category, type, "updatedAt") FROM stdin;
\.


--
-- Data for Name: Stone; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."Stone" (id, name, "nameEn", "nameAr", "nameRu", "nameTr", code, "categoryId", quarry, "quarryEn", country, color, "colorSecondary", pattern, "processingType", "surfaceFinish", thickness, width, length, weight, "waterAbsorption", "compressiveStrength", "abrasionResistance", density, application, "suitableFor", "exportCountries", features, description, "descriptionEn", tags, slug, "isFeatured", "isNewest", "isBestSeller", "isExportGrade", status, "viewCount", "likeCount", rating, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: StoneAuditLog; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."StoneAuditLog" (id, "stoneId", action, "oldValue", "newValue", "userId", "createdAt") FROM stdin;
\.


--
-- Data for Name: StoneImage; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."StoneImage" (id, "stoneId", url, thumbnail, alt, type, "isPrimary", "order", "mediaAssetId", "createdAt") FROM stdin;
\.


--
-- Data for Name: StonePrice; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."StonePrice" (id, "stoneId", type, amount, currency, "minQuantity", discount, "validFrom", "validUntil", notes, "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: StoneVideo; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."StoneVideo" (id, "stoneId", url, type, title, "createdAt") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."User" (id, email, password, name, phone, role, "isActive", "lastLoginAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Warehouse; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."Warehouse" (id, name, code, location, "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Webhook; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public."Webhook" (id, name, url, secret, events, "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: stone
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
\.


--
-- Name: ActivityLog ActivityLog_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."ActivityLog"
    ADD CONSTRAINT "ActivityLog_pkey" PRIMARY KEY (id);


--
-- Name: AnalyticsEvent AnalyticsEvent_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."AnalyticsEvent"
    ADD CONSTRAINT "AnalyticsEvent_pkey" PRIMARY KEY (id);


--
-- Name: BackupRecord BackupRecord_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."BackupRecord"
    ADD CONSTRAINT "BackupRecord_pkey" PRIMARY KEY (id);


--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: Content Content_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Content"
    ADD CONSTRAINT "Content_pkey" PRIMARY KEY (id);


--
-- Name: CustomerInteraction CustomerInteraction_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."CustomerInteraction"
    ADD CONSTRAINT "CustomerInteraction_pkey" PRIMARY KEY (id);


--
-- Name: Customer Customer_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_pkey" PRIMARY KEY (id);


--
-- Name: EmailVerification EmailVerification_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."EmailVerification"
    ADD CONSTRAINT "EmailVerification_pkey" PRIMARY KEY (id);


--
-- Name: ErpConnection ErpConnection_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."ErpConnection"
    ADD CONSTRAINT "ErpConnection_pkey" PRIMARY KEY (id);


--
-- Name: ErpLog ErpLog_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."ErpLog"
    ADD CONSTRAINT "ErpLog_pkey" PRIMARY KEY (id);


--
-- Name: Exhibition Exhibition_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Exhibition"
    ADD CONSTRAINT "Exhibition_pkey" PRIMARY KEY (id);


--
-- Name: Inquiry Inquiry_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Inquiry"
    ADD CONSTRAINT "Inquiry_pkey" PRIMARY KEY (id);


--
-- Name: Inventory Inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Inventory"
    ADD CONSTRAINT "Inventory_pkey" PRIMARY KEY (id);


--
-- Name: Job Job_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Job"
    ADD CONSTRAINT "Job_pkey" PRIMARY KEY (id);


--
-- Name: MediaAsset MediaAsset_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."MediaAsset"
    ADD CONSTRAINT "MediaAsset_pkey" PRIMARY KEY (id);


--
-- Name: NotificationDelivery NotificationDelivery_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."NotificationDelivery"
    ADD CONSTRAINT "NotificationDelivery_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: OrderItem OrderItem_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_pkey" PRIMARY KEY (id);


--
-- Name: Order Order_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_pkey" PRIMARY KEY (id);


--
-- Name: OtpChallenge OtpChallenge_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."OtpChallenge"
    ADD CONSTRAINT "OtpChallenge_pkey" PRIMARY KEY (id);


--
-- Name: PasswordResetToken PasswordResetToken_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."PasswordResetToken"
    ADD CONSTRAINT "PasswordResetToken_pkey" PRIMARY KEY (id);


--
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- Name: Permission Permission_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Permission"
    ADD CONSTRAINT "Permission_pkey" PRIMARY KEY (id);


--
-- Name: QuotationItem QuotationItem_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."QuotationItem"
    ADD CONSTRAINT "QuotationItem_pkey" PRIMARY KEY (id);


--
-- Name: Quotation Quotation_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Quotation"
    ADD CONSTRAINT "Quotation_pkey" PRIMARY KEY (id);


--
-- Name: Recommendation Recommendation_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Recommendation"
    ADD CONSTRAINT "Recommendation_pkey" PRIMARY KEY (id);


--
-- Name: RolePermission RolePermission_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."RolePermission"
    ADD CONSTRAINT "RolePermission_pkey" PRIMARY KEY (id);


--
-- Name: SalesDeal SalesDeal_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."SalesDeal"
    ADD CONSTRAINT "SalesDeal_pkey" PRIMARY KEY (id);


--
-- Name: SalesStage SalesStage_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."SalesStage"
    ADD CONSTRAINT "SalesStage_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: Setting Setting_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Setting"
    ADD CONSTRAINT "Setting_pkey" PRIMARY KEY (id);


--
-- Name: StoneAuditLog StoneAuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."StoneAuditLog"
    ADD CONSTRAINT "StoneAuditLog_pkey" PRIMARY KEY (id);


--
-- Name: StoneImage StoneImage_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."StoneImage"
    ADD CONSTRAINT "StoneImage_pkey" PRIMARY KEY (id);


--
-- Name: StonePrice StonePrice_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."StonePrice"
    ADD CONSTRAINT "StonePrice_pkey" PRIMARY KEY (id);


--
-- Name: StoneVideo StoneVideo_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."StoneVideo"
    ADD CONSTRAINT "StoneVideo_pkey" PRIMARY KEY (id);


--
-- Name: Stone Stone_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Stone"
    ADD CONSTRAINT "Stone_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Warehouse Warehouse_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Warehouse"
    ADD CONSTRAINT "Warehouse_pkey" PRIMARY KEY (id);


--
-- Name: Webhook Webhook_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Webhook"
    ADD CONSTRAINT "Webhook_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: ActivityLog_createdAt_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "ActivityLog_createdAt_idx" ON public."ActivityLog" USING btree ("createdAt");


--
-- Name: ActivityLog_userId_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "ActivityLog_userId_idx" ON public."ActivityLog" USING btree ("userId");


--
-- Name: AnalyticsEvent_createdAt_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "AnalyticsEvent_createdAt_idx" ON public."AnalyticsEvent" USING btree ("createdAt");


--
-- Name: AnalyticsEvent_eventType_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "AnalyticsEvent_eventType_idx" ON public."AnalyticsEvent" USING btree ("eventType");


--
-- Name: Category_imageMediaAssetId_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "Category_imageMediaAssetId_idx" ON public."Category" USING btree ("imageMediaAssetId");


--
-- Name: Category_imageMediaAssetId_key; Type: INDEX; Schema: public; Owner: stone
--

CREATE UNIQUE INDEX "Category_imageMediaAssetId_key" ON public."Category" USING btree ("imageMediaAssetId");


--
-- Name: Category_slug_key; Type: INDEX; Schema: public; Owner: stone
--

CREATE UNIQUE INDEX "Category_slug_key" ON public."Category" USING btree (slug);


--
-- Name: Content_section_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "Content_section_idx" ON public."Content" USING btree (section);


--
-- Name: Content_section_key_key; Type: INDEX; Schema: public; Owner: stone
--

CREATE UNIQUE INDEX "Content_section_key_key" ON public."Content" USING btree (section, key);


--
-- Name: CustomerInteraction_customerId_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "CustomerInteraction_customerId_idx" ON public."CustomerInteraction" USING btree ("customerId");


--
-- Name: CustomerInteraction_followUpAt_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "CustomerInteraction_followUpAt_idx" ON public."CustomerInteraction" USING btree ("followUpAt");


--
-- Name: Customer_email_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "Customer_email_idx" ON public."Customer" USING btree (email);


--
-- Name: Customer_phone_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "Customer_phone_idx" ON public."Customer" USING btree (phone);


--
-- Name: EmailVerification_tokenHash_key; Type: INDEX; Schema: public; Owner: stone
--

CREATE UNIQUE INDEX "EmailVerification_tokenHash_key" ON public."EmailVerification" USING btree ("tokenHash");


--
-- Name: EmailVerification_userId_expiresAt_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "EmailVerification_userId_expiresAt_idx" ON public."EmailVerification" USING btree ("userId", "expiresAt");


--
-- Name: ErpConnection_isActive_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "ErpConnection_isActive_idx" ON public."ErpConnection" USING btree ("isActive");


--
-- Name: ErpLog_status_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "ErpLog_status_idx" ON public."ErpLog" USING btree (status);


--
-- Name: ErpLog_syncType_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "ErpLog_syncType_idx" ON public."ErpLog" USING btree ("syncType");


--
-- Name: Inquiry_createdAt_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "Inquiry_createdAt_idx" ON public."Inquiry" USING btree ("createdAt");


--
-- Name: Inquiry_status_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "Inquiry_status_idx" ON public."Inquiry" USING btree (status);


--
-- Name: Inventory_stoneId_warehouseId_key; Type: INDEX; Schema: public; Owner: stone
--

CREATE UNIQUE INDEX "Inventory_stoneId_warehouseId_key" ON public."Inventory" USING btree ("stoneId", "warehouseId");


--
-- Name: Inventory_warehouseId_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "Inventory_warehouseId_idx" ON public."Inventory" USING btree ("warehouseId");


--
-- Name: Job_status_availableAt_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "Job_status_availableAt_idx" ON public."Job" USING btree (status, "availableAt");


--
-- Name: MediaAsset_storageKey_key; Type: INDEX; Schema: public; Owner: stone
--

CREATE UNIQUE INDEX "MediaAsset_storageKey_key" ON public."MediaAsset" USING btree ("storageKey");


--
-- Name: MediaAsset_url_key; Type: INDEX; Schema: public; Owner: stone
--

CREATE UNIQUE INDEX "MediaAsset_url_key" ON public."MediaAsset" USING btree (url);


--
-- Name: NotificationDelivery_notificationId_status_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "NotificationDelivery_notificationId_status_idx" ON public."NotificationDelivery" USING btree ("notificationId", status);


--
-- Name: Notification_createdAt_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "Notification_createdAt_idx" ON public."Notification" USING btree ("createdAt");


--
-- Name: Notification_recipientId_isRead_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "Notification_recipientId_isRead_idx" ON public."Notification" USING btree ("recipientId", "isRead");


--
-- Name: Order_inquiryId_key; Type: INDEX; Schema: public; Owner: stone
--

CREATE UNIQUE INDEX "Order_inquiryId_key" ON public."Order" USING btree ("inquiryId");


--
-- Name: Order_orderNumber_key; Type: INDEX; Schema: public; Owner: stone
--

CREATE UNIQUE INDEX "Order_orderNumber_key" ON public."Order" USING btree ("orderNumber");


--
-- Name: OtpChallenge_target_channel_expiresAt_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "OtpChallenge_target_channel_expiresAt_idx" ON public."OtpChallenge" USING btree (target, channel, "expiresAt");


--
-- Name: PasswordResetToken_tokenHash_key; Type: INDEX; Schema: public; Owner: stone
--

CREATE UNIQUE INDEX "PasswordResetToken_tokenHash_key" ON public."PasswordResetToken" USING btree ("tokenHash");


--
-- Name: PasswordResetToken_userId_expiresAt_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "PasswordResetToken_userId_expiresAt_idx" ON public."PasswordResetToken" USING btree ("userId", "expiresAt");


--
-- Name: Payment_orderId_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "Payment_orderId_idx" ON public."Payment" USING btree ("orderId");


--
-- Name: Payment_status_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "Payment_status_idx" ON public."Payment" USING btree (status);


--
-- Name: Permission_key_key; Type: INDEX; Schema: public; Owner: stone
--

CREATE UNIQUE INDEX "Permission_key_key" ON public."Permission" USING btree (key);


--
-- Name: Quotation_customerId_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "Quotation_customerId_idx" ON public."Quotation" USING btree ("customerId");


--
-- Name: Quotation_quotationNo_key; Type: INDEX; Schema: public; Owner: stone
--

CREATE UNIQUE INDEX "Quotation_quotationNo_key" ON public."Quotation" USING btree ("quotationNo");


--
-- Name: Recommendation_stoneId_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "Recommendation_stoneId_idx" ON public."Recommendation" USING btree ("stoneId");


--
-- Name: RolePermission_role_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "RolePermission_role_idx" ON public."RolePermission" USING btree (role);


--
-- Name: RolePermission_role_permissionId_key; Type: INDEX; Schema: public; Owner: stone
--

CREATE UNIQUE INDEX "RolePermission_role_permissionId_key" ON public."RolePermission" USING btree (role, "permissionId");


--
-- Name: SalesDeal_customerId_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "SalesDeal_customerId_idx" ON public."SalesDeal" USING btree ("customerId");


--
-- Name: SalesDeal_ownerId_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "SalesDeal_ownerId_idx" ON public."SalesDeal" USING btree ("ownerId");


--
-- Name: SalesDeal_stageId_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "SalesDeal_stageId_idx" ON public."SalesDeal" USING btree ("stageId");


--
-- Name: Session_expiresAt_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "Session_expiresAt_idx" ON public."Session" USING btree ("expiresAt");


--
-- Name: Session_tokenHash_key; Type: INDEX; Schema: public; Owner: stone
--

CREATE UNIQUE INDEX "Session_tokenHash_key" ON public."Session" USING btree ("tokenHash");


--
-- Name: Session_userId_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "Session_userId_idx" ON public."Session" USING btree ("userId");


--
-- Name: Setting_key_key; Type: INDEX; Schema: public; Owner: stone
--

CREATE UNIQUE INDEX "Setting_key_key" ON public."Setting" USING btree (key);


--
-- Name: StoneAuditLog_createdAt_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "StoneAuditLog_createdAt_idx" ON public."StoneAuditLog" USING btree ("createdAt");


--
-- Name: StoneAuditLog_stoneId_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "StoneAuditLog_stoneId_idx" ON public."StoneAuditLog" USING btree ("stoneId");


--
-- Name: StoneImage_mediaAssetId_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "StoneImage_mediaAssetId_idx" ON public."StoneImage" USING btree ("mediaAssetId");


--
-- Name: StonePrice_stoneId_currency_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "StonePrice_stoneId_currency_idx" ON public."StonePrice" USING btree ("stoneId", currency);


--
-- Name: StonePrice_stoneId_type_currency_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "StonePrice_stoneId_type_currency_idx" ON public."StonePrice" USING btree ("stoneId", type, currency);


--
-- Name: StonePrice_stoneId_validFrom_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "StonePrice_stoneId_validFrom_idx" ON public."StonePrice" USING btree ("stoneId", "validFrom");


--
-- Name: Stone_code_key; Type: INDEX; Schema: public; Owner: stone
--

CREATE UNIQUE INDEX "Stone_code_key" ON public."Stone" USING btree (code);


--
-- Name: Stone_slug_key; Type: INDEX; Schema: public; Owner: stone
--

CREATE UNIQUE INDEX "Stone_slug_key" ON public."Stone" USING btree (slug);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: stone
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Warehouse_code_key; Type: INDEX; Schema: public; Owner: stone
--

CREATE UNIQUE INDEX "Warehouse_code_key" ON public."Warehouse" USING btree (code);


--
-- Name: Webhook_isActive_idx; Type: INDEX; Schema: public; Owner: stone
--

CREATE INDEX "Webhook_isActive_idx" ON public."Webhook" USING btree ("isActive");


--
-- Name: ActivityLog ActivityLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."ActivityLog"
    ADD CONSTRAINT "ActivityLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Category Category_imageMediaAssetId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_imageMediaAssetId_fkey" FOREIGN KEY ("imageMediaAssetId") REFERENCES public."MediaAsset"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Category Category_parentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: CustomerInteraction CustomerInteraction_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."CustomerInteraction"
    ADD CONSTRAINT "CustomerInteraction_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Customer Customer_assigneeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Customer"
    ADD CONSTRAINT "Customer_assigneeId_fkey" FOREIGN KEY ("assigneeId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: EmailVerification EmailVerification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."EmailVerification"
    ADD CONSTRAINT "EmailVerification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Inquiry Inquiry_assigneeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Inquiry"
    ADD CONSTRAINT "Inquiry_assigneeId_fkey" FOREIGN KEY ("assigneeId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Inquiry Inquiry_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Inquiry"
    ADD CONSTRAINT "Inquiry_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Inquiry Inquiry_stoneId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Inquiry"
    ADD CONSTRAINT "Inquiry_stoneId_fkey" FOREIGN KEY ("stoneId") REFERENCES public."Stone"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Inventory Inventory_stoneId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Inventory"
    ADD CONSTRAINT "Inventory_stoneId_fkey" FOREIGN KEY ("stoneId") REFERENCES public."Stone"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Inventory Inventory_warehouseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Inventory"
    ADD CONSTRAINT "Inventory_warehouseId_fkey" FOREIGN KEY ("warehouseId") REFERENCES public."Warehouse"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: NotificationDelivery NotificationDelivery_notificationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."NotificationDelivery"
    ADD CONSTRAINT "NotificationDelivery_notificationId_fkey" FOREIGN KEY ("notificationId") REFERENCES public."Notification"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderItem OrderItem_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OrderItem OrderItem_stoneId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."OrderItem"
    ADD CONSTRAINT "OrderItem_stoneId_fkey" FOREIGN KEY ("stoneId") REFERENCES public."Stone"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Order Order_assigneeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_assigneeId_fkey" FOREIGN KEY ("assigneeId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Order Order_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Order Order_inquiryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_inquiryId_fkey" FOREIGN KEY ("inquiryId") REFERENCES public."Inquiry"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PasswordResetToken PasswordResetToken_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."PasswordResetToken"
    ADD CONSTRAINT "PasswordResetToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Payment Payment_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public."Order"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: QuotationItem QuotationItem_quotationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."QuotationItem"
    ADD CONSTRAINT "QuotationItem_quotationId_fkey" FOREIGN KEY ("quotationId") REFERENCES public."Quotation"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: QuotationItem QuotationItem_stoneId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."QuotationItem"
    ADD CONSTRAINT "QuotationItem_stoneId_fkey" FOREIGN KEY ("stoneId") REFERENCES public."Stone"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Quotation Quotation_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Quotation"
    ADD CONSTRAINT "Quotation_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Quotation Quotation_dealId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Quotation"
    ADD CONSTRAINT "Quotation_dealId_fkey" FOREIGN KEY ("dealId") REFERENCES public."SalesDeal"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: RolePermission RolePermission_permissionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."RolePermission"
    ADD CONSTRAINT "RolePermission_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES public."Permission"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SalesDeal SalesDeal_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."SalesDeal"
    ADD CONSTRAINT "SalesDeal_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public."Customer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SalesDeal SalesDeal_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."SalesDeal"
    ADD CONSTRAINT "SalesDeal_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SalesDeal SalesDeal_stageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."SalesDeal"
    ADD CONSTRAINT "SalesDeal_stageId_fkey" FOREIGN KEY ("stageId") REFERENCES public."SalesStage"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Session Session_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StoneAuditLog StoneAuditLog_stoneId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."StoneAuditLog"
    ADD CONSTRAINT "StoneAuditLog_stoneId_fkey" FOREIGN KEY ("stoneId") REFERENCES public."Stone"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StoneImage StoneImage_mediaAssetId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."StoneImage"
    ADD CONSTRAINT "StoneImage_mediaAssetId_fkey" FOREIGN KEY ("mediaAssetId") REFERENCES public."MediaAsset"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: StoneImage StoneImage_stoneId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."StoneImage"
    ADD CONSTRAINT "StoneImage_stoneId_fkey" FOREIGN KEY ("stoneId") REFERENCES public."Stone"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StonePrice StonePrice_stoneId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."StonePrice"
    ADD CONSTRAINT "StonePrice_stoneId_fkey" FOREIGN KEY ("stoneId") REFERENCES public."Stone"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StoneVideo StoneVideo_stoneId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."StoneVideo"
    ADD CONSTRAINT "StoneVideo_stoneId_fkey" FOREIGN KEY ("stoneId") REFERENCES public."Stone"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Stone Stone_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: stone
--

ALTER TABLE ONLY public."Stone"
    ADD CONSTRAINT "Stone_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict fL1g46bDIL9hmKZ5qvdb51RCz5gsgtseD4CZsVnhRASX4JHqXQrFm9FhgXPE8lg

